menu "MQTT Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtts://w05a6bdd.ala.eu-central-1.emqxsl.com:8883"
        help
            URL of the broker to connect to (mqtt:// o mqtts:// para SSL)

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

    config MQTT_USERNAME
        string "MQTT Username"
        default "yerlin"
        help
            Username for MQTT authentication

    config MQTT_PASSWORD
        string "MQTT Password"
        default "yerlin123"
        help
            Password for MQTT authentication

endmenu
