menu "Example Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

    config MQTT_USERNAME
        string "MQTT Username"
        default "yerlin"
        help
            Username for MQTT authentication

    config MQTT_PASSWORD
        string "MQTT Password"
        default "yerlin123"
        help
            Password for MQTT authentication

endmenu
